<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="main_audit_management_sys" name="Audit Management"/>
        <menuitem id="menu_audit_management_systems"
              name="Audit"
              parent="main_audit_management_sys"
              sequence="1"/>
        <menuitem id="menu_audit_management_systems_report"
              name="Reporting"
              parent="main_audit_management_sys"
              sequence="2"/>
        <menuitem id="menu_audit_management_Configuration"
              name="Configuration"
              parent="main_audit_management_sys"
              sequence="3"/>
        <menuitem id="menu_audit_items_system"
              name="Audit Items"
              action="action_audit_items"
              parent="menu_audit_management_systems"
              sequence="1"/>
        <menuitem id="menu_audit_Programs_system"
              name="Audit Programs"
              action="action_audit_program"
              parent="menu_audit_management_systems"
              sequence="2"/>
        <menuitem id="menu_audit_Programs_line_system"
              name="Audit line"
              action="action_program_line"
              parent="menu_audit_management_Configuration"
              sequence="1"/>

         <menuitem id="ins_account_type_level_audit_report"
                  name="Line Reports"
                  action="action_account_type_level_audit_tree"
                  sequence="500"
                  parent="menu_audit_management_Configuration"/>

         <menuitem id="ins_audit_account_account_report"
                  name="Account Audit Customer"
                  action="action_audit_account_account_tree"
                  sequence="4"
                  parent="menu_audit_management_Configuration"/>

        <menuitem id="ins_financial_audit_customer_report"
                  name="Account Audit Customer"
                  action="action_financial_audit_customer_tree"
                  sequence="4"
                  parent="menu_audit_management_Configuration"/>

        <menuitem id="account_lines_report"
                  name="Account Lines"
                  action="action_account_lines_tree"
                  sequence="6"
                  parent="menu_audit_management_Configuration"/>


        <menuitem id="ins_account_type_audit_report"
                  name="Financial Reports"
                  action="action_account_type_audit_tree"
                  sequence="2"
                  parent="menu_audit_management_systems_report"/>

    </data>
</odoo>